/* CSS for buttons */
.button-container {
  width: 210px;
  height: 150px;
  position: absolute;
  /* left: 40%; */
  top: 150px;
  background-color: rgb(158, 155, 155);
}

.button-wheel {
  border-radius: 50%;
  background-color: white;
  position: relative;
  height: 130px;
  width: 140px;
  top: 150px;
  left: 30px;
}

.button-wheel button {
  border-style: none;
  cursor: pointer;
}

.button-wheel .select {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 43px;
  left: 45px;
  background-color: rgb(158, 155, 155);
  padding: 15px;
  border-radius: 50%;
}
.button-wheel .select:hover {
  background-color: rgb(78, 68, 68);
  border: 1px inset rgb(51, 255, 0);
  width: 18px;
  height: 18px;
}

.button-wheel .menu {
  position: absolute;
  top: 15px;
  left: 58px;
}

.button-wheel .backward {
  position: absolute;
  top: 63px;
  left: 10px;
}

.button-wheel .forward {
  position: absolute;
  top: 63px;
  right: 10px;
}

.button-wheel .play-pause {
  position: absolute;
  top: 105px;
  left: 52px;
}

.button-wheel .fa-pause {
  position: absolute;
  left: 20px;
}
